WATCH_FOLDER=/path/to/watch/folder
DATABASE_URL=mysql://user:password@host:port/database
TRANSACTIONAL_TABLES=drug_order,encounter,obs,orders,patient,patient_identifier,patient_program,patient_state,person,person_address,person_attribute,person_name,pharmacies,pharmacy_batch_item_reallocations,pharmacy_batch_items,pharmacy_batches,pharmacy_obs,pharmacy_stock_balances,pharmacy_stock_verifications,relationship,merge_audits,note,cohort_member